.container{
    width: auto;
    max-width: 972px;
    min-width: 320px;
    margin: 0 auto;
}

.App {
  text-align: center;
}

/* Header */

.App-logo {
  height: 26px;
}

.App-header {
  box-sizing: border-box;
  border-bottom: 1px solid #cecece;
  min-height: 51px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 11px 0 8px 15px;
}

.a-href-container {
  max-width: 525px;
  margin: auto;
}

.a-href{
  float: left;
  display: block;
}

/* end Header*/

